<!--If an error message appears, it will come in place of the standard all-coupons screen -->

<div *ngIf="!companyService.errorMessage">
    <h2>
        {{loginService.username}}'s coupons
    </h2>

    <!-- Company coupons can be sorted by category, expiry date, by price or all -->
    <h4>Choose a filter:</h4>
    <table border="2px">
        <tr>
            <td>
                <button (click)="selectAllCoupons()">See all coupons</button>
            </td>
            <td>
                Enter a price:
                <input type="number" placeholder="Enter amount" [(ngModel)]="byPrice" />
                <br>
                <button [disabled]="!byPrice" (click)="selectByPrice()">Select coupons up to this price</button>
            </td>
            <td>
                Select a category:
                <select [(ngModel)]="byCategory">
                    <option *ngFor="let category of companyService.categories">{{category}}</option>
                </select>
                <br>
                <button [disabled]="!byCategory" (click)="selectByCategory()">Select coupons of this category</button>
            </td>
            <td>
                Choose a date:
                <input type="date" [(ngModel)]="byDate">
                <br>
                <button [disabled]="!byDate" (click)="selectByDate()">Select coupons that expire before this
                    date</button>
            </td>
        </tr>
    </table>



    <table border="1px">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Message</th>
            <th>Price</th>
            <th>Image</th>
        </tr>

        <!--In any case that result list comes back empty from server, 
    the empty list component will be shown with an appropriate message according to the sort method chosen -->

        <tr *ngIf="companyService.selectedCoupons?.length == 0">
            <td colspan="9" width="100%">
                <app-empty-list whatInWhere={{emptyListMessage}}></app-empty-list>
            </td>
        </tr>


        <tr *ngFor="let c of companyService.selectedCoupons">
            <td>{{c.id}}</td>
            <td>{{c.title}}</td>
            <td>{{c.startDate}}</td>
            <td>{{c.endDate}}</td>
            <td>{{c.amount}}</td>
            <td>{{c.category}}</td>
            <td>{{c.message}}</td>
            <td>{{c.price}}</td>
            <!--if no image he shouldn't show a default image icon-->
            <td><span *ngIf="c.image"><img width="70px" src="assets/images/{{c.image}}"></span> </td> 

        </tr>
    </table>
</div>
<div *ngIf="companyService.errorMessage">
    <h2>{{companyService.errorMessage}}</h2>
</div>