<!--The contents of the page will change to a result message once success is achieved.-->
<div *ngIf="!adminService.resultMessage">
    <h2>Enter new company details:</h2>

    <form #formInfo="ngForm">
        <!--the form allows to require fields and to invalidate the send button-->
        <table>
            <tr>
                <td>Name:</td>
                <td><input required pattern="^.{2,}$" #nameInfo="ngModel" name="name" type="text"
                        placeholder="Enter a company name" [(ngModel)]="newName" /></td>
                <td><span *ngIf="nameInfo.errors?.required&&nameInfo.touched"> Company name required</span>
                    <span *ngIf="nameInfo.errors?.pattern&&nameInfo.touched">Company name too short</span>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input required pattern="^.{4,}$" #passwordInfo="ngModel" name="password" type="password"
                        placeholder="4 characters or longer" [(ngModel)]="newPassword" /></td>
                <td><span *ngIf="passwordInfo.errors?.required&&passwordInfo.touched">Password required</span>
                    <span *ngIf="passwordInfo.errors?.pattern&&passwordInfo.touched">Password too short</span></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" type="email"
                        #emailInfo="ngModel" placeholder="Enter company's email" [(ngModel)]="newEmail" name="email" />
                </td>
                <td><span *ngIf="emailInfo.errors?.required&&emailInfo.touched">Email address is required</span>
                    <span *ngIf="emailInfo.errors?.pattern&&emailInfo.touched">Check the email address again</span></td>
            </tr>
            <tr>
                <td></td>
                <td><button [disabled]="formInfo.form.invalid" (click)="send()">Send</button></td>
            </tr>
        </table>
    </form>
</div>

<div *ngIf="adminService.resultMessage">
    <h1>{{adminService.resultMessage}}</h1>
    <button (click)=again()>Add another company</button>
</div>