<!--A successful result message will give the option of adding another coupon, instead of the standard new-coupon screen-->
<div *ngIf="!companyService.resultMessage">

    <h2>Enter new coupon details:</h2>

    <form #formInfo="ngForm">
        <table>
            <tr>
                <td>Title: </td>
                <td><input required pattern="^.{2,}$" #titleInfo="ngModel" type="text" placeholder="Enter coupon title"
                        [(ngModel)]="newCoupon.title" name="title" /></td>
                <td> <span *ngIf="titleInfo.errors?.required&&titleInfo.touched">Missing title</span>
                    <span *ngIf="titleInfo.errors?.pattern&&titleInfo.touched">Title too short</span></td>
            </tr>

            <tr>
                <td>Amount: </td>
                <td><input type="number" min="0" step="1" pattern="^[0-9]+$" [(ngModel)]="newCoupon.amount"
                        #amountInfo="ngModel" placeholder="Enter amount" name="amount" /></td>
                <td><span *ngIf="amountInfo.errors?.pattern&&amountInfo.touched">Amount must be positive whole
                        number</span></td>
            </tr>
            <tr>
                <td>Category: </td>
                <td><select [(ngModel)]="newCoupon.category" name="category">
                        <option *ngFor="let category of companyService.categories">{{category}}</option>
                    </select></td>
            </tr>
            <tr>
                <td>Price: </td>
                <td><input #priceInfo="ngModel" type="number" [(ngModel)]="newCoupon.price" name="price" min="0"
                        required pattern="^[+]?([.]\d+|\d+([.]\d+)?)$" /></td>
                <td><span *ngIf="priceInfo.errors?.pattern&&priceInfo.touched">Price must be a positive number</span>
                    <span *ngIf="priceInfo.errors?.required&&priceInfo.touched">Price required</span>
                </td>
            </tr>

            <tr>
                <td>Message: </td>
                <td><textarea rows="4" cols="29" maxlength="120" [(ngModel)]="newCoupon.message"
                        name="message"></textarea></td>
            </tr>
            <tr>
                <td>Start date: </td>
                <td><input type="date" [(ngModel)]="newCoupon.startDate" required name="startDate"
                        #startDateInfo="ngModel" (change)="checkBothDates()" /></td>
                <td><span *ngIf="startDateInfo.errors?.required&&startDateInfo.touched">Start date required</span></td>
            </tr>
            <tr>
                <td>Expiration date: </td>
                <td><input type="date" [(ngModel)]="newCoupon.endDate" required name="endDate" #endDateInfo="ngModel"
                        (change)="checkBothDates()" /></td>
                <td><span *ngIf="endDateInfo.errors?.required&&endDateInfo.touched">End date required</span>
                    <span *ngIf="!endDateInfo.errors?.required&&backwardDates">End date can't be before start date.
                    </span>
                    <span *ngIf="!endDateInfo.errors?.required&&couponExpired">Coupon date expired. </span>
                </td>
            </tr>
            <tr>
                <td>Image url:</td>
                <td><input type="text" [(ngModel)]="newCoupon.image" name="image"></td>
            </tr>


        </table>
        <!--Send button will be disabled if anything on the form is invalid, as well as the date checks that were made: 
        coupon end date must not be expired, and must not be before start date. -->
        <button [disabled]="formInfo.form.invalid || backwardDates || couponExpired"
            (click)="createNewCoupon()">Send</button>
    </form>

</div>

<div *ngIf="companyService.resultMessage">
    <h2>{{companyService.resultMessage}}</h2>
    <button (click)=again()>Add another coupon</button>
</div>