<h2>Select the coupon you wish to update:</h2>

<!--If there are no coupons, empty list notice will appear instead of dropdown.-->

<div *ngIf="companyService.allCoupons?.length == 0">
    <app-empty-list whatInWhere="coupons for your company."></app-empty-list>
</div>

<div *ngIf="companyService.allCoupons?.length > 0">

    <select [(ngModel)]="couponId">
        <option *ngFor="let c of companyService.allCoupons">{{c.id}}</option>
    </select>
    <br>
    <button [disabled]="!couponId" (click)="fillCouponDetails()">Find this coupon</button>

</div>

<!--User can only update price and expiration date.-->
<div *ngIf="couponToUpdate && !companyService.errorMessage">
    <form #formInfo="ngForm">
        <table>
            <tr>
                <td>Id:</td>
                <td>{{couponToUpdate.id}}</td>
            </tr>
            <tr>
                <td>Title: </td>
                <td>{{couponToUpdate.title}}</td>
            </tr>
            <tr>
                <td>Amount: </td>
                <td>{{couponToUpdate.amount}}</td>
            </tr>
            <tr>
                <td>Category: </td>
                <td>{{couponToUpdate.category}}</td>
            </tr>
            <tr>
                <td>Price: </td>
                <td><input #priceInfo="ngModel" type="number" required [(ngModel)]="couponToUpdate.price"
                        pattern="^[+]?([.]\d+|\d+([.]\d+)?)$" name="price" (keydown)="enableSubmit()" /></td>
                <td><span *ngIf="priceInfo.errors?.pattern&&priceInfo.touched">Price must be a positive number</span>
                    <span *ngIf="priceInfo.errors?.required&&priceInfo.touched">Price required</span>
                </td>
            </tr>
            <tr>
                <td>Message: </td>
                <td>{{couponToUpdate.message}}</td>
            </tr>
            <tr>
                <td>Start date: </td>
                <td>{{couponToUpdate.startDate}}</td>
            </tr>
            <tr>
                <td>Expiration date: </td>
                <td><input #endDateInfo="ngModel" required type="date" [(ngModel)]="couponToUpdate.endDate"
                        name="endDate" (keydown)="enableSubmit()" (change)="checkDates()" /></td>
                <td><span *ngIf="endDateInfo.errors?.required&&endDateInfo.touched">End date required</span>
                    <span *ngIf="!endDateInfo.errors?.required&&backwardDates">End date can't be before start date.
                    </span>
                    <span *ngIf="!endDateInfo.errors?.required&&couponExpired">Coupon date expired. </span>
                </td>
            </tr>
            <tr>
                <td>Coupon image: </td>
                <!--if no image he shouldn't show a default image icon-->
                <td><span *ngIf="couponToUpdate.image"><img width="70px"
                            src="assets/images/{{couponToUpdate.image}}" /></span> </td>
            </tr>
        </table>

        <!--As in new-coupon, changes cannot be sent unless form is valid and dates are logical.  
        Also there must be a change in order to prevent unnecessary requests from the server -->
        <button [disabled]="formInfo.form.invalid || !wasChange || couponExpired || backwardDates"
            (click)="submitChanges()">Submit changes</button>
    </form>
</div>

<h2 *ngIf="companyService.errorMessage">{{companyService.errorMessage}}</h2>