<h2>Select the company you wish to update:</h2>

<!--If there are no companies, empty list notice will appear instead of dropdown.-->

<div *ngIf="adminService.allCompanies?.length == 0">
    <app-empty-list whatInWhere="companies in the system."></app-empty-list>
</div>

<div *ngIf="adminService.allCompanies?.length > 0">
    <select [(ngModel)]="companyId">
        <option *ngFor="let c of adminService.allCompanies">{{c.id}}</option>
    </select>
    <br>

    <!--preventing sending if no company has been chosen -->
    <button [disabled]="!companyId" (click)="fillCompanyDetails()">Find this company</button>
</div>
<br><br>

<form *ngIf="companyToUpdate" #formInfo="ngForm">
    <!--the form allows to require fields and to invalidate the send button-->
    <table>
        <tr>
            <td>Id:</td>
            <td>{{companyToUpdate.id}}</td>
        </tr>

        <tr>
            <td>Name:</td>
            <td>{{companyToUpdate.name}}</td>
        </tr>

        <tr>
            <td>Password:</td>
            <td><input required pattern="^.{4,}$" #passwordInfo="ngModel" name="password" type="password"
                    [(ngModel)]="companyToUpdate.password" (keydown)="enableSubmit()" /></td>
            <td><span *ngIf="passwordInfo.errors?.required&&passwordInfo.touched">Password required</span>
                <span *ngIf="passwordInfo.errors?.pattern&&passwordInfo.touched">Password too short</span></td>
        </tr>

        <tr>
            <td>Email:</td>
            <td><input required touched pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    type="email" #emailInfo="ngModel" [(ngModel)]="companyToUpdate.email" name="email"
                    (keydown)="enableSubmit()" /></td>
            <td><span *ngIf="emailInfo.errors?.required&&emailInfo.touched">Email address is required</span>
                <span *ngIf="emailInfo.errors?.pattern&&emailInfo.touched">Check the email address again</span></td>
        </tr>

    </table>

    <!--submit button will be disabled unless form is completely valid, and only if there has been a change made -->
    <button [disabled]="formInfo.form.invalid || !wasChange" (click)="submitChanges()">Submit changes</button>
</form>