<h2>Login to our coupon system: </h2>

<form #formInfo="ngForm">
    <input required #usernameInfo="ngModel" type="text" placeholder="Enter your username" [(ngModel)]="login.username" name="username" />
    <span *ngIf="usernameInfo.errors?.required&&usernameInfo.touched">Missing username</span>

    <br><br>

    <input required pattern="^.{4,}$" #passwordInfo="ngModel" type="password" placeholder="Enter your password" [(ngModel)]="login.password" name="password" />
    <span *ngIf="passwordInfo.errors?.required&&passwordInfo.touched">Missing password</span>    
    <span *ngIf="passwordInfo.errors?.pattern&&passwordInfo.touched">Password too short (min. 4)</span>

    <br><br>

    <select [(ngModel)]="login.type" name="loginType">
        <option *ngFor="let type of types">{{type | titlecase}}</option>
    </select>

    <br><br>

    <button [disabled]="formInfo.form.invalid" (click)=send()>Login</button>

</form>