<div *ngIf="!companyService.errorMessage">

    <h2>Select the coupon you wish to delete: </h2>

    <table border="1px">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Message</th>
            <th>Price</th>
            <th>Image</th>
        </tr>

        <!-- If no coupons exist for this company (and nothing to delete), emtpyList will appear with appropriate message-->
        <tr *ngIf="companyService.allCoupons?.length == 0">
                <td colspan="9" width="100%">
                    <app-empty-list whatInWhere="coupons for your company."></app-empty-list>
                </td>
            </tr>

        <tr *ngFor="let c of companyService.allCoupons" (click)="companyService.deleteCoupon(c.id)">
            <td>{{c.id}}</td>
            <td>{{c.title}}</td>
            <td>{{c.startDate}}</td>
            <td>{{c.endDate}}</td>
            <td>{{c.amount}}</td>
            <td>{{c.category}}</td>
            <td>{{c.message}}</td>
            <td>{{c.price}}</td>
             <!--if no image he shouldn't show a default image icon-->
             <td><span *ngIf="c.image"><img width="70px" src="assets/images/{{c.image}}"></span> </td> 
        </tr>

        </table>
</div>

<!--If there is a problem, it will appear instead of standard delete-coupon screen-->
<h2 *ngIf="companyService.errorMessage">{{companyService.errorMessage}}</h2>