<h2>{{customerService.currentCustomer.name}}'s coupons:</h2>

<button (click)="selectAll()">All Coupons</button>
<br><br>

<select [(ngModel)]="byCategory">
    <option *ngFor="let category of customerService.categories">{{category}}</option>
</select>
<button [disabled]="!byCategory" (click)="selectByCategory()">Select by category</button>
<br><br>
<input placeholder="Enter price" [(ngModel)]="byPrice" />
<button [disabled]="!byPrice" (click)="selectByPrice()">Select up to this price</button>
<br><br>
<table border="1px">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Category</th>
        <th>Message</th>
        <th>Price</th>
        <th>Image</th>
    </tr>

    <!--If customer has no coupons, a notice will appear according to coupons selected.  -->
    <tr *ngIf="customerService.selectedCoupons?.length == 0">
        <td colspan="9" width="100%">
            <app-empty-list whatInWhere={{emptyListMessage}}></app-empty-list>
        </td>
    </tr>


    <tr *ngFor="let c of customerService.selectedCoupons">
        <td>{{c.id}}</td>
        <td>{{c.title}}</td>
        <td>{{c.startDate}}</td>
        <td>{{c.endDate}}</td>
        <td>{{c.category}}</td>
        <td>{{c.message}}</td>
        <td>{{c.price}}</td>
        <!--for now saving images on client side.-->
        <td><img width="70px" src="assets/images/{{c.image}}" /></td>
    </tr>

</table>