<h2>Select the coupon id:</h2>

<!--If there are no coupons, empty list notice will appear instead of dropdown.-->

<div *ngIf="companyService.allCoupons?.length == 0">
    <app-empty-list whatInWhere="coupons for your company."></app-empty-list>
</div>

<div *ngIf="companyService.allCoupons?.length > 0">
    <select [(ngModel)]="couponId">
        <option *ngFor="let c of companyService.allCoupons"> {{c.id}}</option>
    </select>
    <button [disabled]="!couponId" (click)="companyService.findCouponNow(couponId)">Find now</button>

</div>

<div *ngIf="companyService.couponToGet">
    <table border="1px">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Message</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        <tr>
            <td>{{companyService.couponToGet.id}}</td>
            <td>{{companyService.couponToGet.title}}</td>
            <td>{{companyService.couponToGet.startDate}}</td>
            <td>{{companyService.couponToGet.endDate}}</td>
            <td>{{companyService.couponToGet.amount}}</td>
            <td>{{companyService.couponToGet.category}}</td>
            <td>{{companyService.couponToGet.message}}</td>
            <td>{{companyService.couponToGet.price}}</td>

            <!--if no image he shouldn't show a default image icon-->
            <td><span *ngIf="companyService.couponToGet.image"><img height="100px"
                        src="assets/images/{{companyService.couponToGet.image}}" /></span></td>
        </tr>
    </table>
</div>