<h2>Select the customer (by Id):</h2>

<!--If there are no customers, empty list notice will appear instead of dropdown.-->

<div *ngIf="adminService.allCustomers?.length == 0">
    <app-empty-list whatInWhere="customers in the system."></app-empty-list>
</div>


<div *ngIf="adminService.allCustomers?.length > 0">
    <select [(ngModel)]="customerId">
        <option *ngFor="let c of adminService.allCustomers"> {{c.id}}</option>
    </select>

    <!--Button will be disabled if no customer was chosen-->
    <button [disabled]="!customerId" (click)="adminService.findCustomerNow(customerId)">Find now</button>
</div>

<div *ngIf="adminService.customerToGet">
    <table border="1px">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
            <th>Coupons</th>
        </tr>
        <tr>
            <td>{{adminService.customerToGet.id}}</td>
            <td>{{adminService.customerToGet.name}}</td>
            <td>{{adminService.customerToGet.password}}</td>
            <td>
                <ul>
                    <li *ngFor="let cp of adminService.customerToGet.coupons">id: {{cp.id}}, title: {{cp.title}}</li>
                </ul>
            </td>
        </tr>

    </table>
</div>